<div *ngIf="transactions.length > 0" class="transaction-list-container">
	<div class="top-bar">
		<h1 class="transaction-list-title">Transactions</h1>
		<div class="reload" (click)="onRefreshClick()">
			<img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Refresh_icon.png" width="25px">
		</div>
	</div>

	<transaction-card *ngFor="let transaction of transactions"
	[id]="transaction.id"
	[timestamp]="transaction.bookingTime"
	[amount]="transaction.transactionAmount.amount"
	[creditor]="transaction.creditor"
	[debtor]="transaction.debtor"
	[message]="transaction.message"
	[activeAccountId]="activeAccountId">
	</transaction-card>

</div>
