<div class="operations-bar-container">
	<div class="row">
		<div class="column">
			<div class="operations-button" [ngStyle]="{'background-color': colorScheme.operationsButtonColor}" (click)="showTransferDialog()">
				<div class="operations-button-label" [ngStyle]="{'color': colorScheme.operationsButtonLabelColor}">
					Transfer
				</div>
			</div>
		</div>
		<div class="column">
			<div class="operations-button" [ngStyle]="{'background-color': colorScheme.operationsButtonColor}">
				<div class="operations-button-label" [ngStyle]="{'color': colorScheme.operationsButtonLabelColor}">
					Request
				</div>
			</div>
		</div>


	</div>
</div>