<div class="top-menu">
  <div class="container">
    <img src="{{ colorScheme.logoURL }}" class="logo">
  </div>
</div>

<overview
  [owner]="account.owner"
  [dean]="account.dean"
  [balance]="balanceAsString"
  [colorScheme]="colorScheme">
</overview>

<operations-bar [colorScheme]="colorScheme" [currentUser]="account.id" [transferDialog]="transferDialogComponent" [requestDialog]="requestDialogComponent"></operations-bar>
<transfer-dialog #transferDialogComponent [self]="account.id" [colorScheme]="colorScheme" (reloadData)="reloadData(account.id)"></transfer-dialog>
<request-dialog #requestDialogComponent [self]="account.id" [colorScheme]="colorScheme" (reloadData)="reloadData(account.id)"></request-dialog>
<transaction-list [transactions]="accountTransactions" [activeAccountId]="account.id" [colorScheme]="colorScheme" (reloadData)="reloadData(account.id)"></transaction-list>
