<div class="request-dialog-container" *ngIf="showComponent">
	<div *ngIf="!waiting && !done">
		<h1>Payment request</h1><br><br>
		<hr style="margin-left: 55px; margin-right: 55px; color: #adadad">
		<br><br>
		<span class="input-title">Amount</span>
		<input class="inp" placeholder="9.99" [(ngModel)]="amount">
		<span class="input-title">Message</span>
		<input class="inp" placeholder="Purchase" [(ngModel)]="message">

		<button (click)="doTransfer()" [disabled]="!transferButtonEnabled" class="request-button" [ngStyle]="{'background-color': colorScheme.operationsButtonColor}">
			<div class="label" [ngStyle]="{'color': colorScheme.operationsButtonLabelColor}">
				Confirm
			</div>
		</button>
		<button (click)="hide()" class="cancel-button">Cancel</button>
	</div>

	<div *ngIf="waiting" align="center">
		<img src="https://i.pinimg.com/originals/3e/80/39/3e8039242e517ee7edc05a4e226e0b80.gif" class="spinner">
		<!-- <img src="https://cdn.pixabay.com/animation/2023/05/02/04/29/04-29-06-428_512.gif" class="spinner"> -->
	</div>

	<div *ngIf="!waiting && done">
		<div class="transaction-complete-text ">✅&nbsp;&nbsp;Transaction complete!</div>
		<button (click)="hide()" class="close-button">Close</button>
	</div>
</div>